@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=PT+Serif:ital@1&family=Roboto:ital,wght@0,400;1,300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&family=PT+Serif:ital@1&family=Philosopher:ital@1&family=Roboto:ital,wght@0,400;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&family=PT+Serif:ital@1&family=Philosopher:ital@1&family=Roboto:ital,wght@0,400;1,300&display=swap');





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

html{
  font-size: 15px;

}

  .Section-onee{
    background-color: rgb(250, 244, 236);
}



.img{
  align-items: center;
}










.aboutus-section3{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}




  @media only screen and (max-width: 1000px){
    .employees-Section{
      
        flex-direction: column;
      
    }
  }
  @media only screen and (max-width: 1000px){
    .employee1{
      
        flex-direction: row;


        width: 100%;

      
    }
  }

  @media only screen and (max-width: 1000px){
    .employee2{
      
        flex-direction: row;


        width: 100%;

      
    }
  }
  .employee-desc{
    color: black;
    font-size: 20px;
    text-align: center;
   
    padding-top: 2px;
   
    font-family: 'Philosopher', sans-serif;
    
  }
  @media only screen and (max-width: 1000px){
    .employee3{
      
        flex-direction: row;
        width: 100%;
    
    }
  }


  @media only screen and (max-width: 1000px){
    .employee4{
      
        flex-direction: row;
        width: 100%;

    }
  }





  @media only screen and (max-width: 1000px){
    .contactInfo-Box{
      display: flex;
       flex-direction: column;
            
    }
    }

    @media only screen and (max-width: 1000px){
      .contactForm-Box{
       width: 30rem;
              
      }
      }



     /* Ui page */



     
     .coffe-title{
      color: rgba(255, 158, 60, 0.789);
     /* /* text-align: center; */
     margin-right: 8rem; 
     font-family: 'Dancing Script', cursive;
   

     }
     

     

    .logo{
        order: 1;
        font-size: 2.3rem;
    }

      .header-pic {
        background-image:url('./assets/images/coffee.jpg');
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
        }

 

    
        .btnnn{

          text-decoration: none;
          color: rgb(12, 12, 12);
          background-color:  rgba(255, 158, 60, 0.789);
          padding: 1rem 2rem;
        
          border: 1px solid #333;
          border-radius: 6px;
          margin-right: 8rem; 
          font-family: 'Dancing Script', cursive;
          font-size: 1.5rem;
           
      }
      
      .btnnn:hover{
          background: rgb(246, 240, 242);
          border: 1px solid;
      }
      #section-a{
        background: rgb(0, 0, 0);
        color: rgba(232, 173, 118, 0.895);
        padding-bottom: 1rem;
        text-align: center;
    }
  
  #section-b ul{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  #section-b li{
      margin-bottom: 1rem;
      background: #fff;
      color: rgb(0, 0, 0);
  }
  .card-content{
      /* padding: 1rem; */
      background: rgb(152, 136, 156);
  }

  ul{
    display: flex;
    flex-direction: row;
    width: 50rem;
    
   align-content: center;
  }







  .coffee-Section{
    display: flex;
   
    justify-content: center;
    
    
  }
  
  
  .coffee-one:hover {
    transform: scale(1.1);
    transition: ease-in-out .4s;
  } 
  .coffee-two:hover {
    transform: scale(1.1);
    transition: ease-in-out .4s;
  }
  .coffee-three:hover {
    transform: scale(1.1);
    transition: ease-in-out .4s;
  }
  .coffee-four:hover {
    transform: scale(1.1);
    transition: ease-in-out .4s;
  }
  
    .coffee-one{
    box-shadow: 0 4px 8px 0 #060606;
    transition: 0.3s;
    width: 20%;
    text-align: center;
    border-radius: 4px;
    margin: 10px;
    background-color: rgb(233, 198, 155);
    }
  .coffee-two{
    box-shadow: 0 4px 8px 0 #000000;
    transition: 0.3s;
    width: 20%;
    text-align: center;
    border-radius: 4px;
    margin: 10px;
    background-color: rgb(233, 198, 155);
  
  }
  .coffee-three{
    box-shadow: 0 4px 8px 0 #000000;
    transition: 0.3s;
    width: 20%;
    text-align: center;
    border-radius: 4px;
    margin: 10px;
    padding-bottom: 1rem;
    background-color: rgb(233, 198, 155);
  }
  .coffee-four{
    box-shadow: 0 4px 8px 0 #000000;
    transition: 0.3s;
    width: 20%;
    text-align: center;
    border-radius: 4px;
    margin: 10px;
    background-color: rgb(233, 198, 155);
  }
  
  
  
  
  .img{
    align-items: center;
  }
  #img3{
    margin-bottom: 2rem;
 
  }
  #img2{
    margin-bottom: 2rem;
  }

  
  .section3-title{
    color: rgba(12, 12, 11, 0.895);
   
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    padding: 4rem;
    padding-top: 2rem;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
    
  
  }
  
  
  
  
  
  .aboutus-section3{
    
    /* padding: top right bottom left;
    paddding: top-bottom left-right; */
    padding: 50px 40px;
      background-color: var(--primary-color);
  
    
  }
  
  
  
  .aboutus-section3{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .section3-p{
  
  
    font-size: 20px;
    padding-left: 2rem;
    font-family: 'Philosopher', sans-serif;
    font-size: 22px;
    justify-content: center;
    text-justify:inter-word

   
  }
  .coffee-title2{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 25px;

  }
  .story-title{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding-top: 6rem;
    text-decoration: underline;
  }

  .first-nav{
    background-color: rgb(248, 244, 238);
  color:#000;
  opacity: 0.82;
 
   width: 100%;
   height: 50%;
  z-index: 20%;
   box-shadow: 0px 5px 10px 0px rgb(194, 164, 125);
   display: flex;
   justify-content: space-between;
   height: 64px;
   align-items: center;
   background-color: rgb(250, 244, 236);
  
  }

 
 .Navbar{
  order: 2;
  display: flex;
  z-index: 100;
   color: rgb(250, 250, 196);
   font-family: 'Dancing Script', cursive;
   background-color: rgb(250, 244, 236);
  
 }

 .logo{
 order: 1;
 font-size: 3.5rem;
 font-family: 'Dancing Script', cursive;
 font-weight: bold;
 padding-left: 2rem;


}

.Navbar li{
  list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
    color: rgb(250, 250, 196);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    font-size: 2rem;
}
  
  li a {
  
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
  

    opacity: 0.85;
  }
  
  li a:hover:not(.active) {
    color: rgb(189, 139, 73);
  }
 
  .coffee-22{
    display: flex;
   
    justify-content: center;
  }

  #section-c{
    background-color: rgb(233, 198, 155);
    color: rgba(7, 7, 7, 0.789);
    padding: 1rem;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 5rem;
    box-shadow: 0 4px 8px 0 #000000;
    transition: 0.3s;
    
    background-color: rgb(233, 198, 155);
}
#section-c.grid{
  box-shadow: 0 4px 8px 0 #000000;
  opacity: 0.85;
  
  background-color: rgb(233, 198, 155);
}

#section-d .box{
    padding: 1rem;
    color: rgb(16, 15, 15);
   
   
}
#section-d .box:first-child{
    background: rgb(253, 253, 253);
    
   
   
}

#section-d .box:second-child{
  background: rgb(82, 55, 20);
}


#main-footer{
    padding: 1rem;
    background-color: burlywood;
    text-align: center;
    box-shadow: 0 4px 8px 0 #000000;

   
}
#main-footer a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 12px 0 #000000;
  
   
}
.contact-links{
    display: flex;
    justify-content: center;
    width: 200px;
    max-width: 980px;
  
    margin-left: 23rem; 
    
}
.contact-details{
    font-size: 1.3rem;
    margin-bottom: 1rem;
 
  }
  
  .btn{
    display: inline-block;
      padding-right: 1rem;
      text-decoration: none;
      color: #f1ecec;
}
.box{
  background-color: white;
}
@media(min-width: 700px){
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto,25rem)) 1fr;
    }
    #section-a, .content-text p{
        padding-top: 0;
    }
    .content-wrap, #section-b ul{
        grid-column: 2/4;
    }
    .box, #main-footer div{
        grid-column: span 2;
       
      
    }
    #section-b ul{
        display: flex;
        justify-content: space-around;
    }
    #section-b li{
        width: 31%;
    }
    
  }


  .rights{
    box-shadow: 0 4px 10px 0 #000000;
    
  }
  .content-title{
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
  }
  

  #content-wrap{
    margin-left: 5rem;
   font-size: 5px;
  }


  #content-wrap2{
    margin-left: 5rem;
  }


 
    @media screen and (max-width: 992px) {
      .first-nav {
        display: flex;
   flex-direction: column;
   max-width: fit-content;
       
       
      }
    }

    @media screen and (max-width: 992px) {

    .header-pic{
   width: 130%;

    }
  }




  @media screen and (max-width: 992px) {

   
    .coffee-Section{

      display: flex;
      flex-direction: row;
   
      justify-content: center;
    
        box-shadow: 0 4px 8px 0 #060606;
        transition: 0.3s;
   
        text-align: center;
        border-radius: 4px;
        margin: 10px;
       
        

    }
  }

  @media screen and (max-width: 992px) {

   
    .coffee-22{

      display: flex;
      flex-direction: row;
   
      justify-content: center;
    
        box-shadow: 0 4px 8px 0 #060606;
        transition: 0.3s;
   
        text-align: center;
        border-radius: 4px;
        margin: 10px;
       
        

    }
  }

  @media screen and (max-width: 992px) {
    .coffee-title2{

      font-family: 'Dancing Script', cursive;
      font-weight: bold;
      font-size: 20px;

    }
  }

  @media screen and (max-width: 992px) {
    .employee-desc{

  color: black;
  font-size: 10px;
  text-align: center;
 
 
  padding-top: 2px;
 
  font-family: 'Philosopher', sans-serif;
    }}

  
  

  


  
  
  

